<launch>
   
    <node name="turtlesim" pkg="turtlesim" type="turtlesim_node" output="screen">
    </node>
    
    <node name="Remote" pkg="quiz6452500384" type="Remote.py" output="screen">
    </node>

    <node name="Motion" pkg="quiz6452500384" type="Motion.py" output="screen">
    </node>
    
</launch>
